Django==1.6.5
Pygments==1.6
South==0.8.4
Whoosh==2.6.0
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.5
django-haystack==2.1.0
gunicorn==18.0
markdown2==2.2.1
psycopg2==2.5.3
pystache==0.5.4
pytz==2014.4
static==1.0.2
wsgiref==0.1.2
