{% extends "blogengine/includes/base.html" %}

	{% load custom_markdown %}

	{% block content %}
		{% if object_list %}
			{% for post in object_list %}
			<div class="blog-post">
				<h2 class="blog-post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
				<p class="blog-post-meta">{{ post.pub_date }}</p>
				<p>{{ post.text | custom_markdown }}</p>
			</div>
			<a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
			{% for tag in post.tags.all %}
			<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
			{% endfor %}
			{% endfor %}

			{% if page_obj.has_previous %}
			<ul class="pager">
				<li><a href="/{{ page_obj.previous_page_number }}/">Previous Page</a></li>
			{% endif %}
			{% if page_obj.has_next %}
				<li><a href="/{{ page.obj.next_page_number }}/">Next Page</a></li>
			</ul>
			{% endif %}
		{% else %}
			<p>No posts to show.</p>
		{% endif %}
	{% endblock %}
	